@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.footer {
  background-color: #eeeeee;
}

.header, .footer {
  padding: 16px;
  width: 100vw; /* unnecessary, see body selector */
  display: flex;
  justify-content: space-between;
}

.left-links, .right-links { /* could have been on ul */
  display: flex;
}

.input, img {
  margin-bottom: 16px;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* could also be done with flex: 1 on content, 
  which also makes it fill the remaining space */
  align-items: center;  /* this eats up flex-item width,
  causing me to have to fix it above */
  text-align: center;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li { /* could have used gap on ul */
  margin: 0px 10px;
}

a {
  text-decoration: none;
  color: #b69503;
}

